*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(imagwe.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6px;
    background-color: transparent;
    /* box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) ; */

}
 nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
} 
nav ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
    color: plum;
    transform: translateY(-5px);
}
.Logo{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Cedarville Cursive';
    
 
}
.Logo SPAn{
    color: plum;
    font-size: 32px;
    font-weight: 650;
    letter-spacing: 1px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Cedarville Cursive';
}
.content{
    margin: 150px;
    justify-content: center;
    align-items: center;

}
.content h1{
    color: #fff;
    margin: 18px 0px 20px;
    font-size: 40px;
    font-family: 'poppins';
    text-shadow: -0px 02px 08px rgba(0, 0, 0, 0.2);
}   
h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
}
h4{
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;

}
h3 span{
    color: plum;
    font-size: 25px;
    margin-bottom: 50px;
}
h1 span{
    color: plum;
    font-size: 55px;
    margin-bottom: 50px;

}
.newslatter{
    width: 100%;
    align-items: center;
    text-align: center;
    
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    /* margin-left: 420px; */
    position: relative;
    /* margin-top: -10px; */
}
.newslatter form input:first-child{
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 1px solid #6a9fb5;
    outline: none;
    border-radius: 30px;

}
.newslatter form input:last-child{
    position: absolute;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: purple;
    color: white;
    box-shadow: 0px 0px 2px #000, 0px 0px 10px #858585;
    top: 5px;
    right: 6px;
}
.about{
    /* width: 100%;
    height: 80vh;
   padding: 100px 0px;
   background-color: #545166; 
    background-size: cover; 
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     justify-content: space-around;
     align-items: center;
*/
width: 100%;
padding: 100px 0px;
background-color: #545166;
} 
.about img{
   height: auto;
   width: 430px;

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-text h2{
    color: #fff;
    font-size: 75px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-text h5 span{
    color: plum;

}
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
button{
    background-color: plum;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid plum;
    cursor: pointer;
}
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 20px;
    background-color:#49475f;
}

.skills-section h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-size: 75px;
    margin-bottom: 20px;
    text-transform: capitalize;
    /* margin-top:-120px ; */
}

.skill {
    width: 40%;
    margin: 15px 0;
}

.skill-name {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #fff;
    
}

.skill-bar {
    background-color: #49475f;
    border: 1px solid #fff;
    border-radius: 30px;
    overflow: hidden;
    height: 10px;
    border-radius: 30px;
}

.skill-level {
    height: 100%;
    border-radius: 5px;
}

.html {
    width: 90%;
    background-color: plum;
    border-radius: 30px;

}

.css {
    width: 80%;
    background-color: plum;
    border-radius: 30px;
}

.js {
    width: 75%;
    background-color: plum;
    border-radius: 30px;
}

.react {
    width: 70%;
    background-color: plum;
    border-radius: 30px;
}

.node {
    width: 85%;
    background-color: plum;
    border-radius: 30px;
}
.contact-me{
    width:100%;
    height:320px;
    background-color: #545166;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me{
    color:mediumorchid;
    font-size: 20px;
    font-weight: bold;
    
}
.contact-me .button-two{
    background-color: plum;
    color:#fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    padding: 10px 20px;
    cursor: pointer;
}
.contact-me p{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -40px;
}
.contact-me span{
    color: plum;
    font-family: 'poppins';
    font-size: 40px;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid plum;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
footer{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #49475f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer span{
    color: plum;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Cedarville Cursive';
}
footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Cedarville Cursive';
    text-shadow: 2px 2px 4px #000;
}
footer p:nth-child(2){
    color: #fff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
    margin-top: -10px;
}
.social{
    font-size: 20px;
    margin-left: -20px;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 20px;
}
#facebook{
    color: #3b5998;
}
#twitter{
    color: #000;
}
#instagram{
    color: #e1306c;
}
/* .social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: plum;
    color: #fff;
    border-radius: 50% ;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
} */
/* .social a:hover{
    transform: scale(1.3);
    transition:.3s;
    background-color: #49475f;
    color: plum;
    border: 2px solid plum;
    
} */